/* Override default browser style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-color: #3f6844;
}

/* game section */
#game-section {
    text-align: center;
}

/* start div */
#start-guess {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 60%;
    margin-left: 10px;
    margin-right: 10px;
    border: solid;
    border-color: #63bce5;
    border-radius: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
}

/* start heading */
#start-heading {
    font-family: "Chakra Petch", sans-serif;
    margin: 10px;
    color: #0f2557;
    margin-bottom: 20px;
}

/* username */
#user-name {
    font-family: "Chakra Petch", sans-serif;
    border-color: #63bce5;
    border-radius: 10px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    font-size: large;
}

#user-name-validation-text {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: x-small;
}

/* start button */
#start-button {
    font-family: "Chakra Petch", sans-serif;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 50%;
    background-color: #150734;
    color: aquamarine;
    border: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.8);
}

/* Game area */
#game-area {
    /* Make game area by default display to none */
    display: none;
    margin-top: 10%;
    margin-left: 10px;
    margin-right: 10px;

}

/* Game area heading */
#game-area-heading {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    border: solid;
    border-radius: 20px;
    border-color: #63bce5;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.8;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
}

/* game area paragraph */
.game-area-p {
    text-align: left;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: small;
    color: white;
}

/* instruction heading */
#inst-heading {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    text-align: left;
    margin-bottom: 5px;
}

/* hexa code list rolls */
#hexa-code-rolls {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    color: white;
    text-align: left;
    margin-bottom: 15px;
    margin-left: 25px;
    list-style-type: square;
}

/* The alert message box */
#hint-message-box {
    position: fixed;
    /* Position fixed to keep it overlayed */
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translate(-50%, -50%);
    /* Centering trick */
    padding: 20px;
    background-color: #438945;
    color: white;
    z-index: 1000;
    width: 80%;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
    display: none;
    font-family: "Chakra Petch", sans-serif;
    font-size: x-small;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* hr */
hr {
    border-color: #63bce5;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
}

/* level area */
#level-area {
    background-color: black;
    height: 30px;
    width: 170px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
    display: inline-block;
}

.levels {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    margin-right: 3px;
    margin-left: 3px;
    margin-top: 5px;
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
}

#dimond {
    background-image: url("/assets/images/dimond.jpeg");
}

#gold {
    background-image: url("/assets/images/gold.png");
}

#silver {
    background-image: url("/assets/images/silver.png");
}

#bronze {
    background-image: url("/assets/images/bronze.png");
}

.levels-text {
    font-family: "Chakra Petch", sans-serif;
    font-size: small;
    color: white;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}

/* display username */
#user-name-t {
    font-family: "Chakra Petch", sans-serif;
    color: #8d8d8d;
    display: inline-block;
    text-transform: capitalize;
    font-size: large;
    padding: 3px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
}

/* color box */
#color-box {
    border: hidden;
    border-radius: 20px;
    width: 30%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
}

/* validation paragraph */
#validation-text {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: x-small;
    color: white;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* guess step paragraph */
#guess-step {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    color: white;
    text-align: left;
    margin-bottom: 5px;
}

/* attempt paragraph */
#attempt-p {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    color: white;
    text-align: center;
    margin-bottom: 5px;
}

/* attempt value */
#attempt {
    color: black;
}

/* attempt and guess step paragraphs */
/* make them by default hidden */
.hidden-p {
    display: none;
}

/* userinput, guess box */
#guess-box {
    font-family: "Chakra Petch", sans-serif;
    border-color: #63bce5;
    border-radius: 10px;
    height: 30px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    font-size: large;
}

/* submit button */
#submit {
    font-family: "Chakra Petch", sans-serif;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 35%;
    background-color: #150734;
    color: aquamarine;
    border: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.8);
}

/* Hint button */
#hint-button {
    font-family: "Chakra Petch", sans-serif;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 35%;
    background-color: #150734;
    color: aquamarine;
    border: hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.8);
}

/* Hint paragraph */
#hint-p {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: larger;
}

/* score text */
#score-text {
    font-family: "Chakra Petch", sans-serif;
    color: white;
    font-size: larger;
}

/* score value */
#score {
    color: black;
}

/* media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    #game-section {
        margin: 20px;
    }

    #game-area {
        margin-top: auto;
    }

    #start-guess {
        width: fit-content;
        height: fit-content;
        margin: auto;
        margin-top: 40%;
    }

    #start-heading {
        font-size: 50px;
        margin: 20px;
    }

    #user-name {
        height: 50px;
        font-size: xx-large;
        width: 40%;
    }

    #start-button {
        height: 60px;
        font-size: xx-large;
        margin-bottom: 20px;
        width: 150px;
    }

    #game-area-heading {
        font-size: xx-large;
        padding: 20px;
        width: fit-content;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .game-area-p {
        font-size: larger;
        margin-bottom: 20px;
    }

    #inst-heading {
        margin-bottom: 20px;
    }

    #hexa-code-rolls {
        font-size: larger;
        margin-bottom: 30px;
    }

    #level-area {
        margin-right: 70%;
    }

    #color-box {
        height: 220px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
    }

    #guess-step {
        font-size: medium;
        margin-bottom: 10px;
    }

    #attempt-p {
        font-size: medium;
        margin-bottom: 15px;
    }

    #guess-box {
        height: 40px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    #validation-text {
        font-size: medium;
        margin-bottom: 20px;
    }

    #submit {
        float: left;
        height: 40px;
        font-size: x-large;
        width: 15%;
        padding: 5px;
        margin-bottom: 20px;
    }

    #hint-button {
        margin-left: 10%;
        width: 20%;
    }

    #score-text {
        float: right;
        font-size: xx-large;
    }
}

/* media query: larger devices laptop and desktop (992px and up) */
@media screen and (min-width: 992px) {

    #start-guess {
        margin-top: 20%;
    }

    #start-button:hover {
        background-color: #7ed5ea;
        color: #150734;
    }

    #submit:hover {
        background-color: #7ed5ea;
        color: #150734;
    }

    #guess-box:hover {
        border-color: #150734;
    }

    #hint-button {
        margin-right: 12%;
        width: 20%;
    }

}