/* Override default browser style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    background-color: #7ed5ea;
}

/* game section */
#game-section {
    text-align: center;
}
/* Game area */
#game-area {
    display: none; /* Make game area by default display to none */
}

/* color box */
#color-box {
    border: solid;
    border-color: black;
    width: 30%;
    height: 100px;
}

/* validation paragraph */
#validation-text {
    display: none;
}

/* attempt and guess step paragraphs */
/* make them by default hidden */
.hidden-p {
    display: none;
}



